@media (max-width:1200px) {
    .navigation{
        display: none;
    }
    
}

@media (max-width:992px){
    .img-wrapper{
        margin-top: 50px;
    }

 

    .section-title-overlay-text{
        display: none;
    }
}